<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
    <title>Ionic App</title>
</head>
<body>
    <ion-app>
        <ion-menu side="start" content-id="main-content">
            <ion-header>
              <ion-toolbar translucent>
                <ion-title>Menu</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-list>
              </ion-list> 
                <ion-item>
                  <ion-icon name="mail" slot="start"></ion-icon>
                  <ion-label>Orders</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="paper-plane" slot="start"></ion-icon>
                  <ion-label>Outbox</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="heart" slot="start"></ion-icon>
                  <ion-label>Favorites</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="archive" slot="start"></ion-icon>
                  <ion-label>Archived</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="trash" slot="start"></ion-icon>
                  <ion-label>Trash</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="warning" slot="start"></ion-icon>
                  <ion-label>Spam</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ion-menu>

         <div class="ion-page" id="main-content">
            <ion-header>
                <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>Island Store</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              
              <ion-grid>
                <ion-row>
                    <ion-col size ="7">
                        <ion-list>
                          <ion-item color ="pimary">
                              <iom-label>
                                <h2>Finn</h2>
                                <h3>I,m a big deal</h3>
                                <p>LIsten , I,ve had a pretty messed up...</p>

                              </iom-label>
                          </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
         
                </ion-grid>
            </ion-content>
        </div>
    </ion-app>
</body>
</html>